.call__body{
    margin-bottom: 0;
    margin-top: 0;
}
.footer__logo{
    margin-bottom: 0;
}
.expert__body{
    margin-bottom: 0;
}
.about__line{
    margin-bottom: 0;
}
.links{
    padding: 20px 0;
}
.footer{
    padding-bottom: 20px;
}
@media (max-width: 1024px){
    .footer__logo img{
        width: 480px;
        height: 195px;
    }
}
@media (max-width: 768px){
    .footer__logo img{
        width: 430px;
        height: 175px;
    }
}
@media (max-width: 540px){
    .footer__logo img{
        width: 325px;
        height: 135px;
    }
}
@media (max-width: 414px){
    .footer__logo img{
        width: 280px;
        height: 115px;
    }
}
@media (max-width: 375px){
    .footer__logo img{
        width: 250px;
        height: 100px;
    }
}
